* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    ;
    margin: 0;
    padding: 0;
}

.card {
    width: 300px;
    max-width: 98%;
    border: 1px solid black;
    padding: 1em;
    border-radius: 12px;
    display: flex;
    flex-direction: column;

    p {
        font-size: 2rem;
        font-weight: 600;
        margin: 0;
        margin-bottom: 1em;
    }

    input {
        height: 3em;
        font-size: 1em;
        font-weight: 600;
        margin-bottom: 1em;
        border-radius: 8px;
        border: 1px solid black;
        padding: 0 1em;
        letter-spacing: 2px;
    }

    a {
        font-size: .9rem;
        text-decoration: none;
    }

    button {
        height: 3em;
        background-color: transparent;
        border: 1px solid black;
        margin-top: 1em;
        border-radius: 8px;
        font-size: 1em;
        font-weight: 600;
        letter-spacing: 2px;
        cursor: pointer;
    }
}